<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.minibis">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiniBis">
        <activity
            android:name=".termandpolicy"
            android:exported="false" />
        <activity
            android:name=".aboutus"
            android:exported="false" />
        <activity
            android:name=".contactus"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".seller_navigation"
            android:exported="true" />
        <activity
            android:name=".log_sign_options"
            android:exported="true" />
        <activity
            android:name=".Splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login_in_activity"
            android:exported="true" />
        <activity
            android:name=".access_sub"
            android:exported="true" />
        <activity
            android:name=".footwear_sub"
            android:exported="true" />
        <activity
            android:name=".skincare_sub"
            android:exported="true" />
        <activity
            android:name=".cloth_subcat"
            android:exported="true" />
        <activity
            android:name=".cloth_subcateg"
            android:exported="true" />
        <activity
            android:name=".homedecor_sub"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".signupcustomer"
            android:exported="true" />
        <activity
            android:name=".signupseller1"
            android:exported="true" />
        <activity
            android:name=".signupseller2"
            android:exported="true" />
        <activity
            android:name=".EditProfilePage"
            android:exported="true" />
    </application>

</manifest>